<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1392">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Me</span>
            <h2 class="cs-title">Get in Touch</h2>
            <p class="cs-text">
              I'm always accepting commissions, orders for custom prints, or any other way to collaborate! 
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Phone</span>
                        <a href="tel:888-4565-789
                        " class="cs-link">+1 (888) 4565 789
                        </a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email</span>
                        <a href="mailto:Email@stitch.com" class="cs-link">watercolortales@gmail.com</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Address</span>
                        <a href="" class="cs-link">2553 Woodbridge Lane, Carmel, IN</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1392" name="Contact Form" method="post">
            <h3 class="cs-h3">Contact Form</h3>
            <label class="cs-label">
                <!-- Name -->
                <input class="cs-input" required type="text" id="name-1392" name="name" placeholder="Name">
            </label>
            <label class="cs-label cs-email">
                <!-- Email -->
                <input class="cs-input" required type="email" id="email-1392" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-phone">
                <!-- Phone -->
                <input class="cs-input" required type="number" id="phone-1392" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                <!-- Message -->
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1392" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
        </form>
    </div>
</section>


<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<section id="footer-1392">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="https://svgshare.com/i/zLQ.svg" alt="logo" width="209" height="40">
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="/" class="cs-li-link cs-active">
                       Home
                    </a>
                </li>
                <li class="cs-li">
                    <a href="#gallery-42" class="cs-li-link">
                        Gallery
                    </a>
                </li>
                <li class="cs-li">
                    <a href="#sbs-1133" class="cs-li-link">
                        About
                    </a>
                </li>
                <li class="cs-li">
                    <a href="#services-279" class="cs-li-link">
                        Shop
                    </a>
                </li>
                <li class="cs-li">
                    <a href="#contact-1392" class="cs-li-link">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="facebook" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/face-white1.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-white.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="instagram" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
            </ul>
            <span class="cs-copyright">
                © Copyright 2023 - <a href="" class="cs-copyright-link">Hand coded by: Root Design & Develop</a>
            </span>
            <div class="cs-flex">
                <a href="" class="cs-copyright-link">Privacy Policy</a>
                <span class="cs-separater">|</span>
                <a href="" class="cs-copyright-link">Terms of Use</a>
            </div>
        </div>
    </div>
</section>
                                
