<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get It Done With Us Today</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis at sit pellentesque molestie.  Diam, adipiscing ultrices eu turpis gravida.
            </p>
            <a href="/contact/" class="cs-button-solid">Get A Free Quote</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/cabinets.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>