{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">

    {# To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  #}
    {# Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data #}
    {# {% include "components/post-schema.html" %} #}
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container"></div>
        <!--Background Image-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg" alt="library" width="1920" height="375">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div id="single-article">
        <!--Main content -->
        <div class="cs-container">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="cs-article-post">
                <!--Main Article Image-->
                <picture class="cs-article-image">
                    <source media="(max-width: 600px)" srcset="{{ image }}">
                    <source media="(min-width: 601px)" srcset="{{ image }}">
                    <img loading="lazy" decoding="async" src="{{ image }}" alt="{{ alt }}" width="630" height="630" aria-hidden="true">
                </picture>

                <!--Article Info-->
                <div class="cs-article-group">
                    <h1 class="cs-article-title">{{ title }}</h1>
                    <div class="cs-author-group">
                        <!--Author Image-->
                        <picture class="cs-author-img">
                            <img src="/assets/svgs/profile.svg" alt="Profile icon" width="32" height="32" decoding="async" loading="lazy" aria-hidden="true"/>
                        </picture>
                        <span class="cs-author-name">{{ author }}</span>
                        <span aria-hidden="true" class="cs-dot"></span>
                        <!--Blog Date-->
                        <span class="cs-date">{{ date | postDate }}</span>
                    </div>
                </div>
                <section class="cs-article-content">
                    {{ content | safe }}
                </section>
            </article>
        </div>
        <!-- End .cs-content -->

        {% include 'components/featured-posts.html' %}
    </div>
{% endblock %}