/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-434 {
        padding: var(--sectionPadding);
    }
    #gallery-434 .cs-container {
        width: 98%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery-434 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #gallery-434 .cs-grid {
        display: grid;
        /* 12 so we can have rows of 3 and rows with 2 50/50 images */
        grid-template-columns: repeat(12, 1fr);
        /* 12px - 30px */
        grid-gap: clamp(0.75rem, 1.5vw, 1.875rem);
        grid-template-rows: repeat(6, 0.34fr);
    }
    #gallery-434 .cs-picture {
        border-radius: 0.5rem;
        /* clips corners of img tags */
        overflow: hidden;
        position: relative;
        display: block;
    }
    #gallery-434 .cs-picture img {
        width: 100%;
        height: 100%;
        /* makes image behave like a background image */
        object-fit: cover;
    }
    #gallery-434 .cs-picture1 {
        display: none;
    }
    #gallery-434 .cs-picture2 {
        grid-column: 1 / 9;
        grid-row: 1 / 3;
    }
    #gallery-434 .cs-picture3 {
        grid-column: 9 / 13;
        grid-row: 1 / 1;
    }
    #gallery-434 .cs-picture4 {
        grid-column: 1 / 7;
        grid-row: 4 / 5;
    }
    #gallery-434 .cs-picture5 {
        grid-column: 7 / 13;
        grid-row: 4 / 7;
    }
    #gallery-434 .cs-picture6 {
        display: none;
    }
    #gallery-434 .cs-picture7 {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }
    #gallery-434 .cs-picture8 {
        grid-column: 5 / 9;
        grid-row: 3 / 4;
    }
    #gallery-434 .cs-picture9 {
        grid-column: 9 / 13;
        grid-row: 2 / 4;
    }
    #gallery-434 .cs-picture10 {
        grid-column: 1 / 7;
        grid-row: 5 / 7;
    }
    #gallery-434 .cs-picture11 {
        display: none
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-434 {
        padding-left: 0;
        padding-right: 0;
    }
    #gallery-434 .cs-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 0.45fr);
    }
    #gallery-434 .cs-picture1 {
        border-radius: 0 0.5rem 0.5rem 0;
        display: block;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    #gallery-434 .cs-picture2 {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
    }
    #gallery-434 .cs-picture3 {
        grid-column: 5 / 6;
        grid-row: 1 / 1;
    }
    #gallery-434 .cs-picture4 {
        border-radius: 0.5rem 0 0 0.5rem;
        grid-column: 6 / 7;
        grid-row: 1 / 1;
    }
    #gallery-434 .cs-picture5 {
        display: none;
    }
    #gallery-434 .cs-picture6 {
        border-radius: 0 0.5rem 0.5rem 0;
        display: block;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    #gallery-434 .cs-picture7 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    #gallery-434 .cs-picture8 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }
    #gallery-434 .cs-picture9 {
        grid-column: 5 / 6;
        grid-row: 2 / 4;
    }
    #gallery-434 .cs-picture10 {
        border-radius: 0.5rem 0 0 0.5rem;
        grid-column: 6 / 7;
        grid-row: 2 / 4;
    }
    #gallery-434 .cs-picture11 {
        display: none;
    }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
    #gallery-434 .cs-grid {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 0.4fr);
    }
    #gallery-434 .cs-picture4 {
        border-radius: 0.5rem;
    }
    #gallery-434 .cs-picture5 {
        border-radius: 0.5rem 0 0 0.5rem;
        display: block;
        grid-column: 7 / 8;
        grid-row: 1 / 3;
    }
    #gallery-434 .cs-picture10 {
        border-radius: 0.5rem;
    }
    #gallery-434 .cs-picture11 {
        border-radius: 0.5rem 0 0 0.5rem;
        display: block;
        grid-column: 7 / 8;
        grid-row: 3 / 4;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #gallery-434 .cs-topper {
        color: var(--primaryLight);
    }
    body.dark-mode #gallery-434 .cs-title {
        color: var(--bodyTextColorWhite);
    }
}


/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1125 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #sbs-1125 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    #sbs-1125 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }


    #sbs-1125 .cs-text {
        margin-bottom: 1rem;
    }
    #sbs-1125 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbs-1125 .cs-ul {
        width: 100%;
        margin: 0 0 2rem 0;
        padding-left: 1.25rem;
        /* prevents padding from affecting width and height */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    #sbs-1125 .cs-li {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        list-style: none;
        text-align: left;
        width: 100%;
        max-width: 25rem;
        margin: 0;
        color: var(--bodyTextColor);
        position: relative;
    }
    #sbs-1125 .cs-li:before {
        /* bullet */
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0.625rem;
        left: -0.9375rem;
    }

    #sbs-1125 .cs-image-group {
        /* scaling entire section down. font-size starts at a min in vw, and stops when that value reaches 1em (16px). Since we want the picture elements to base their font size on the parent and not the root, we use ems for this entire section  */
        font-size: min(1.9vw, 0.64em);
        width: 41.0625em;
        height: 42.25em;
        /* offset the amount the cs-graphic overflows the container so it stays centerd on mobile and tablet, removed at desktop */
        margin-left: 6.75em;
        position: relative;
        z-index: 1;
    }
    #sbs-1125 .cs-picture {
        width: 41.0625em;
        height: 42.25em;
        overflow: hidden;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    #sbs-1125 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover ;
        position: absolute;
        top: 0;
        left: 0;
    }
    #sbs-1125 .cs-graphic {
        width: 40.0625em;
        height: auto;
        position: absolute;
        left: -6.75em;
        top: 0;
        z-index: -1;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1125 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #sbs-1125 .cs-image-group {
        /* reset the scale */
        font-size: min(1.2vw, 1em);
        margin: 0;
    }
    #sbs-1125 .cs-content {
        width: 45%;
        /* prevent flexbox from squishing it */
        flex: none;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #sbs-1125 .cs-topper {
        color: var(--secondary);
    }
    body.dark-mode #sbs-1125 .cs-title,
    body.dark-mode #sbs-1125 .cs-text,
    body.dark-mode #sbs-1125 .cs-li {
        color: var(--bodyTextColorWhite);
    }
}

 /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-448 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes at 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 16px - 20px */
            column-gap: clamp(1rem, 1.5vw, 1.25rem);
            /* 24px - 60px */
            row-gap: clamp(1.5rem, 5vw, 3.75rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (360/16rem);
            /* changes at desktop */
            padding-top: (144/16rem);
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
                .cs-picture {
                    img {
                        transform: scale(1.2);
                        opacity: 0.4;
                    }
                }

                .cs-flex {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* changes at desktop */
            height: (250/16rem);
            border-radius: (8/16rem);
            background-color: var(--primary);
            /* clips the corners of the image */
            overflow: hidden;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it behave like a background image */
                object-fit: cover;
                /* positions top of image to the top of the container */
                object-position: top;
                transition:
                    transform 0.9s,
                    opacity 0.5s;
            }
        }

        .cs-flex {
            text-align: center;
            width: 88%;
            padding: 0 (24/16rem) (24/16rem) (24/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border: 1px solid #dad9e3;
            border-radius: (12/16rem);
            background-color: #fff;
            box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &:before {
                /* hover border box */
                content: "";
                background: transparent;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                border: 4px solid var(--primary);
                border-radius: (12/16rem);
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                opacity: 0;
                position: absolute;
                display: block;
                top: -1px;
                left: -1px;
                right: -1px;
                bottom: -1px;
                transition: opacity 0.5s;
            }
        }

        .cs-wrapper {
            /* 80px - 120px */
            width: clamp(5rem, 9.2vw, 7.5rem);
            height: clamp(5rem, 9.2vw, 7.5rem);
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
            /* we use the same clamp value for height & width, but multiple by -.5 so it will be a negative value, and be half of the height.  Negative margins pull things toward the element so they overlap them, in this case we want the .cs-wrapper to overlap .cs-flex by half its height, so we use the same clamp for height and half it for the margin top value */
            margin-top: ~"calc(clamp(5rem, 9.2vw, 7.5rem)*-.5)";
            border-radius: 50%;
            border: 4px solid var(--primary);
            background-color: #fff;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 10;
        }

        .cs-icon {
            /* 48px - 64px */
            width: clamp(3rem, 4.3vw, 4rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.9vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.95rem, 1.5vw, 1.05rem);
            line-height: 1.5em;
            font-weight: 400;
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
            color: var(--bodyTextColor);
        }

        .cs-link {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0;
            color: var(--primary);
            display: inline-block;
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* animated underline */
                content: "";
                width: 0%;
                height: 3px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (-2/16rem);
                left: 0;
                transition: width 0.3s;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-448 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
        }

        .cs-item {
            width: 47%;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-448 {
        .cs-card-group {
            flex-wrap: nowrap;
        }
        .cs-item {
            width: 100%;
            /* 144px - 274px */
            padding-top: clamp(9rem, 17.5vw, 17.125rem);
        }

        .cs-picture {
            /* 224px - 428px */
            height: clamp(14rem, 28vw, 26.75rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-448 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-flex,
            .cs-wrapper {
                background-color: var(--medium);
            }

            .cs-icon {
                filter: grayscale(1) brightness(2000%);
            }

            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                color: var(--primaryLight);
            }
        }
    }
}

                                                               
                                
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-1392 {
        padding: var(--sectionPadding);
        padding-bottom: 0;
        background-color: #f7f7f7;
        position: relative;
        z-index: 10;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            column-gap: auto;
            /* 48px - 64px */
            gap: clamp(2rem, 3vw, 3rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 23ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (24/16rem);
            position: relative;
        }

        .cs-li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: (20/16rem);

            &:hover {
                .cs-icon-wrapper {
                    transform: scale(1.1);
                }
            }
        }

        .cs-header {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: (12/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-decoration: none;
            color: #767676;
            display: block;
            position: relative;

            &:hover {
                text-decoration: underline;
            }
        }

        .cs-icon-wrapper {
            width: (60/16rem);
            height: (60/16rem);
            margin: 0;
            border-radius: 50%;
            border: 1px solid #bababa;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform 0.3s;
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
        }

        .cs-form {
            width: 100%;
            max-width: (630/16rem);
            /* -30px to -100px */
            margin-bottom: ~"calc(clamp(1.875rem, 7vw, 6.25rem)*-1)";
            /* 24px - 48px top and bottom */
            /* 16px - 48px left and right */
            padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
            /* prevents flexbox from affecting height and width */
            box-sizing: border-box;
            background-color: #fff;
            border-radius: (16/16rem);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-h3 {
            /* 20px - 39px */
            font-size: clamp(1.25rem, 3vw, 2.4375rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (4/16rem) 0;
            color: var(--headerColor);
        }

        .cs-label {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            width: 100%;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (4/16rem);
        }

        .cs-input {
            font-size: (16/16rem);
            width: 100%;
            height: (56/16rem);
            padding: 0;
            padding-left: (24/16rem);
            color: var(--headerColor);
            background-color: #f7f7f7;
            border-radius: (8/16rem);
            border: none;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            &::placeholder {
                color: #7d799c;
                opacity: 0.6;
            }
        }

        .cs-textarea {
            min-height: (120/16rem);
            padding-top: (24/16rem);
            margin-bottom: (12/16rem);
            font-family: inherit;
        }

    

        .cs-submit {
            width: 100%;
            min-width: (200/16rem);
            border: none;

            &:hover {
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-1392 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            width: 47%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-submit {
            width: auto;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-1392 {
        .cs-form {
            width: 46%;
            max-width: (578/16rem);
        }

        .cs-submit {
            width: auto;
        }
    }
}

/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
    #contact-1392 {
        .cs-graphic {
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact-1392 {
            background-color: rgba(0, 0, 0, 0.2);
            .cs-title,
            .cs-text,
            .cs-header,
            .cs-link,
            .cs-label,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-contact-text,
            .cs-link {
                opacity: 0.8;
            }

            .cs-icon-wrapper {
                border-color: #fff;
            }

            .cs-icon {
                /* makes it white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-form {
                background-color: var(--medium);
            }

            .cs-input {
                background-color: rgba(255, 255, 255, 0.2);
                color: #fff;
                &::placeholder {
                    color: #fff;
                    opacity: 0.8;
                }
            }

            .cs-graphic {
                opacity: 0.4;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #footer-1392 {
        padding: var(--sectionPadding);
        /* 80px - 100px */
        padding-top: clamp(5rem, 7vw, 6.25rem);
        background-color: #1a1a1a;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-top {
            width: 100%;
            margin-bottom: (40/16rem);
            /* 24px - 64px */
            padding-bottom: clamp(1.5rem, 5vw, 4rem);
            border-bottom: 1px solid #484848;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 24px - 40px */
            gap: clamp(1.25rem, 4vw, 2.5rem);
        }

        .cs-ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            row-gap: (8/16rem);
            /* 24px - 36px */
            column-gap: clamp(1.5rem, 4vw, 2.25rem);
        }

        .cs-li {
            list-style: none;
        }

        .cs-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: #bababa;
            display: block;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }
        }

        .cs-logo {
            width: 100%;
            max-width: (209/16rem);
            height: auto;
            display: block;
        }

        .cs-logo-img {
            width: 100%;
            height: auto;
            display: block;
        }

        .cs-bottom {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (16/16rem);
        }

        .cs-social {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-social-li {
            list-style: none;
        }

        .cs-social-link {
            width: (32/16rem);
            height: (32/16rem);
            background-color: #484848;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;
            &:hover {
                background-color: var(--primary);

                .cs-social-icon {
                    filter: grayscale(1) brightness(1000%);
                    opacity: 1;
                }
            }
        }

        .cs-social-icon {
            width: (12/16rem);
            height: auto;
            display: block;
            opacity: 0.6;
            transition: opacity 0.3s;
        }

        .cs-copyright {
            font-size: (16/16rem);
            color: #bababa;
            line-height: 1.5em;
            margin: 0;
            display: block;
        }

        .cs-copyright-link,
        .cs-separater {
            font-size: (16/16rem);
            text-decoration: none;
            color: #bababa;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }
        }

        .cs-separater {
            margin: 0 (16/16rem);
            display: inline-block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #footer-1392 {
        .cs-top {
            align-items: flex-start;
        }

        .cs-bottom {
            flex-direction: row;
            justify-content: center;
        }

        .cs-flex {
            margin: 0 auto;
        }

        .cs-social {
            /* sends it to the right in the 3rd position */
            order: 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #footer-1392 {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}

                                