/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
    // Website colors
    :root {
        --background-color: #002ed2;
        --primary: #ffba19;
        --primaryLight: #ffd675;
        --secondary: #001f3f;
        --secondaryLight: #001f3f;
        --headerColor: #1a1a1a;
        --bodyTextColor: #4e4b66;
        --bodyTextColorWhite: #fafbfc;

        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }

    // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
    .cs-topper {
        display: block;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        font-weight: 700;
        color: var(--primary);
        text-align: inherit;
    }

    .cs-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        font-weight: 700;
        line-height: 1.2em;
        text-align: inherit;
        max-width: ~"(829/16rem)";
        margin: 0 auto ~"(16/16rem)" 0;
        color: #fff;
        position: relative;
    }    

    .cs-text {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.95vw, 1.25rem);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        /* 464px - 622px */
        max-width: clamp(29rem, 60vw, 38.785rem);
        margin: 0 0 ~"(40/16rem)" 0;
        color: #fff;
    }

    .cs-button-solid {
        font-size: ~"(16/16rem)";
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        margin: 0;
        color: #fff;
        padding: 0 ~"(24/16rem)";
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 0%;
            background: #000;
            opacity: 1;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 0.3s;
        }

        &:hover &:before {
            width: 100%;
        }
    }

    .cs-hide-on-mobile {
        display: none;
    }
} /* This closes the first @media block */

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .cs-hide-on-mobile {
        display: block;
    }

    .cs-hide-on-desktop {
        display: none;
    }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: "Oswald", Arial, sans-serif;
        font-size: 100%;
        color: var(--bodyTextColor);
    }    

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 92%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--headerColor);
    }

    p,
    li,
    a {
        margin: 0;
        font-size: ~"(16/16rem)";
        line-height: 1.5em;
    }

    p,
    li {
        color: #353535;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    // Hidden Screen reader skip nav button
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    // Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts

    /* oswald-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/oswald-v53-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* oswald-700 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        src: url('../fonts/oswald-v53-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
    body,
    html {
        font-size: 0.55vw;
    }
}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #dark-mode-toggle {
            .cs-sun {
                opacity: 1;
                transform: translate(-50%, -50%);
            }

            .cs-moon {
                opacity: 0;
                transform: translate(-50%, -150%);
                fill: #fff;
            }
        }
    }

    #dark-mode-toggle {
        z-index: 1000;
        position: absolute;
        top: ~"(10/16rem)";
        right: ~"(70/16rem)";
        display: block;
        border: none;
        background: transparent;
        height: ~"(48/16rem)";
        width: ~"(48/16rem)";
        overflow: hidden;
        padding: 0;

        img,
        svg {
            //center image inside button
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: ~"(20/16rem)";
            width: ~"(20/16rem)";
            pointer-events: none;
        }

        .cs-moon {
            z-index: 2;
            // Transition properties
            transition: transform 0.3s, opacity 0.3s;

            // fill: yellow; --> uncomment to change the color of the moon if needed
        }

        .cs-sun {
            z-index: 1;
            opacity: 0;
            // Transition property
            transform: translate(-50%, 100%);
            transition: transform 0.3s, opacity 
        }
    }
}