---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <link rel="preload" href="./fonts/oswald-v53-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./fonts/oswald-v53-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    

 

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title"><span class="cs-accent">Plan</span> your future <br><span class="cs-accent">Protect</span> your people</h1>
            <p class="cs-text">
                We help people with their life plan so they're secure with what happens to them, their loved ones and their finances in the future and beyond
            </p>
            <a href="" class="cs-button-solid">Create your life plan</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/Hero image v1-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/Hero image v1.jpg">
        <img decoding="async" src="/assets/images/Hero image v1.jpg" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">So... <br> What's the plan?</h2>
            <p class="cs-text">
                <br> You want to feel prepared for the future  </br> 
                <br> And for any other situation you're well organised, in charge of events and proceedings </br>
                <br>Only this one area is prickly. Uncomfortable. Because...you know (the whole 'death' thing)</br>
                <br>This is where we're about to make your lives a whole lot easier</br>                
                <br>We're the planners for the people that plan</br>         
                <br>We're here to help you</br>                
            </p>
        </div>
            <a href="" class="cs-button-solid">How we can help</a>
        </div>
    </div>
</section>
             
<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1252">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">How we can support you</span>
                <h2 class="cs-title">What do you need help working out?</h2>
            </div>
            <p class="cs-text">
                <br>  Having a design for your finances is about peace of mind for you today and taking care of your loved ones tomorrow  </br>
                <br>  And it's ok...nobody expects you to know how to organise this  </br> 
                <br>  Let us guide you based on your current situation  </br> 
  
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">A plan for 'when it finally happens'</h3>
                    <p class="cs-item-text">
                        It's not easy talking about the end of our own life but we can make discussing your options a more comfortable conversation
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="assets/images/portfolio/pexels-mikebirdy-116909.jpg">
                    <source media="(min-width: 601px)" srcset="assets/images/portfolio/pexels-mikebirdy-116909.jpg">
                    <img decoding="async" src="assets/images/portfolio/pexels-mikebirdy-116909.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">A plan for 'should this happen'</h3>
                    <p class="cs-item-text">
                        We can ensure the right decisions are made around your health and your
                        money so your wishes for the future are respected
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/doors-1767562_1280.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/doors-1767562_1280.jpg">
                    <img decoding="async" src="/assets/images/portfolio/doors-1767562_1280.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">A plan for 'what happens to my business'</h3>
                    <p class="cs-item-text">
                        Your business is what you have built today to pass on tomorrow.
                        Plan, control and pass on your assets to your loved ones
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/entrepreneur-593358_1280.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/entrepreneur-593358_1280.jpg">
                    <img decoding="async" src="/assets/images/portfolio/entrepreneur-593358_1280.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">A plan for 'my life just changed'</h3>
                    <p class="cs-item-text">
                        Financial curveballs like remarriage or a health mishap for a loved one will happen.
                        Let's updates your plans to meet life's surprises
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/people-2589340_1280.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/people-2589340_1280.jpg">
                    <img decoding="async" src="/assets/images/portfolio/people-2589340_1280.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1693">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Easier to talk to someone? <br>Speak to our team</h2>
            <a href="" class="cs-button-solid">Get In Touch</a>
        </div>
    </div>
    <div class="cs-wrapper">
    </div>
</section>
                                                            
<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1638">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">The planners for <span class="cs-accent">planners</span> <br>Meet Angela and Richard</h2>
                <picture class="cs-item-background-pic">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/Untitled design (13).png">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/Untitled design (13).png">
                    <img decoding="async" src="/assets/images/portfolio/Untitled design (13).png" alt="construction" width="250" height="250" aria-hidden="true">
                </picture>
            </div>
            
            <div class="cs-flex">
                <h3 class="cs-h3">
                    We celebrate people who want to get organised.
                </h3>
                <p class="cs-text">
                    <br>As mediation experts we have seen it all. </br>
                    <br> When disputes happen between people who used to care about each other it ends in arguments, betrayal...even fights from beyond the grave. At this stage, everyone wishes for things to be different. </br>
                    <br> We're here to change the conversation. Death doesn't have to be scary and getting ahead with your life plan is the best thing you can do.
                    </br>
                    <br> We love people who plan. And as someone who does this, you should be pretty happy with yourself too.
                    </br>
                </p>
                <a href="" class="cs-button-solid">Create your plan together</a>
            </div>
        </div>  
    </div>
</section>
                                
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                    Chris Murphy
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        Meeting Richard to discuss planning my estate was like chatting to a friend and I was soon in possession of the documents I needed. Confidentiality is hugely important to me and he also advised me on other legal matters.                     
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Paula Youart
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    I needed to change my Will in a rush following a change in circumstances. I was very impressed with the speed at which Richard came to see me. I was left reassured and suprised at how easy it was for him to sort my issue.
                </div>  
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Shig Hayre
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Richard arranged LPA's for me and my mother. He sorted out my Will and set up a Trust for my children. He's since gone on to help the rest of my family. Richard is a true expert in his field, I had put this off needlessly for a long time.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>                              

    {% include 'components/cta.html' %}
{% endblock %}